<div class="container h-100">
  <div style="background-color: rgba(228, 228, 228, 0.719);" class="row shadow justify-content-around align-content-center border rounded">
    <div class="py-2 mb-3 border-bottom text-black" >Monthly Statistics</div>
      <div class="row align-content-center justify-content-evenly">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-8">
          <div class="card shadow text-bg-warning mb-3 bg-opacity" style="max-width: 14rem;">
            <div class="card-body row d-flex justify-content-around align-content-center">
              <div class="col-3 my-auto   ">
                <i class="fs-4  fa-solid fa-file-invoice-dollar"></i>
              </div>
              <div class="col-9">
                <h6 class="d-inline card-title ">Unpaid Invoices: <br><span class="fs-4">11</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-8">
          <div class="card  shadow text-bg-dark mb-3 bg-opacity" style="max-width: 14rem;">
            <div class="card-body row d-flex justify-content-around align-content-center">
              <div class="col-3 my-auto   ">
                <i class="fs-4  fa-solid fa-clock mx-auto"></i>
              </div>
              <div class="col-9">
                <h6 class="d-inline card-title ">Total Training: <br><span class="fs-4">65&nbsp;</span>hours</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-8">
          <div class="card shadow text-bg-dark mb-3 bg-opacity" style="max-width: 14rem;">
            <div class="card-body row d-flex justify-content-around align-content-center">
              <div class="col-3 my-auto   ">
                <i class="fs-4  fa-solid fa-chalkboard-teacher"></i>
              </div>
              <div class="col-9">
                <h6 class="d-inline card-title ">No. of Sessions: <br><span class="fs-4">22</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-8">
          <div class="card shadow text-bg-dark mb-3 bg-opacity" style="max-width: 14rem;">
            <div class="card-body row d-flex justify-content-around align-content-center">
              <div class="col-3 m-auto ">
                <i class="fs-4  fa-solid fa-sack-dollar"></i>
              </div>
              <div class="col-9">
                <h6 class="d-inline card-title ">Total Expense: <br><span class="fs-4">₹ 35,785/-</span></h6>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="row mt-5 justify-content-evenly align-content-center rounded">
    <!-- <div class="col-6">
      <div class="card bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title fw-bold text-black">Upcoming Payments</h5>
          <hr>
          <table class="table table-hover table-borderless" style="max-width: 15rem;">
            <tbody>
              <tr>
                <td>
                  <div>
                    dddddddddddddddddddddddddddddsssssssssss
                  </div>
                </td>
                <td>₹3,200</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div> -->
    <!-- <div class="col-6">
      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div> -->
</div>