.modalpopup{
    position: relative;
    font-weight: bold;
}
.modalpopup::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0 1em #888888 inset;
    opacity: 0;
}

.modalpopup:hover::after {
    opacity: 1;
}