<div class="container-fluid">
  <form #loginForm="ngForm" (ngSubmit)="logUser(loginForm.value)">
  <div class="form0 py-5 mt-4 ">
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="form1 pb-5 mb-3">
                  <div class="row  justify-content-left mt-1 mb-3">
                      <img src="../../assets/logo/LOGO_ICTAK-Name.svg" class="logo">
                  </div>
                  <div class=" row px-3  justify-content-center mt-4 mb-5 border-line">
                      <img src="https://i.imgur.com/uNGdWHi.png" class="image">
                  </div>
              </div>
          </div>
          <div class="col-lg-6"  >
              <div class="form2 form border-0 px-4 py-5">

                  <div class="row px-2 mb-4">
                      <div class="line"></div>
                      <small class="or text-center">Login</small>
                      <div class="line"></div>
                  </div>
                  <div class="row px-3">
                      <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                      <input class="mb-2" type="email" name="email"  required placeholder="Enter a valid email address"
                       #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                        [(ngModel)]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  required>
                       <small class="text-danger" [class.d-none]="email.valid || email.untouched"> Enter a Valid Email</small>
                  </div>
                  <div class="row px-3">
                      <label class="mb-1 mt-2"><h6 class="mb-0 text-sm">Password</h6></label>
                      <input 
                        type="password" 
                        name="password" 
                        autocomplete="on"
                        placeholder="Enter password"
                        #password="ngModel" 
                        [class.is-invalid]="password.invalid && password.touched"
                        [(ngModel)]="user.password" required>
                      <small class="text-danger" [class.d-none]="password.valid || password.untouched"> Enter a Valid Password</small>
                  </div>
                  <div class="row px-3 mb-4 mt-2">

                      <!-- <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a> -->
                  </div>
                  <div class="row mb-3 px-3">
                      <button type="submit" class="btn btn-blue text-center" [disabled]="loginForm.form.invalid">Login</button>
                  </div>
                  <div class="row mb-4 px-3">
                      <small class="font-weight-bold">Don't have an account? <a routerLink="signup" class="text-danger ">Register</a></small>
                  </div>
              </div>
          </div>
      </div>
  </div>

</form>

  <div class="landing bg-blue py-2 mb-1">
      <div class="row px-3 pb-1">
          <small class="ml-4  mb-2 py-2">Copyright &copy; 2022. All rights reserved.</small>

      </div>
  </div>
</div>