<div class="container mb-5">  

  <div class="row d-flex justify-content-center ">
    <div class="col-9  px-5 py-4 m-3  text-center fs-2 text-black rounded" style="font-weight: bold;">
      <span style="color: rgb(52, 51, 51); font-family: 'Roboto Condensed', sans-serif;">Invoices <i class="fa-solid fa-file-invoice-dollar"></i></span>      
    </div>
  </div>

  <div style="font-size:large;">
    <span class="border-bottom border-dark border-3 rounded shadow py-2 px-3">Pending Invoices ({{pendingInvoices.length}})</span>
  </div>
  <br>

  <div class='listing-table table-responsive'>
      
    <table class="table text-center" *ngIf="(pendingInvoices.length != 0)" >
      <thead class="text-uppercase">
        <tr>
       <th>
            <div class="col ">
              Partner
            </div>
        </th>
        <th>
            <div class="col text-center">
              Invoice Date
            </div>
        </th>
        <th>      
            <div class="col d-flex justify-content-center">
             Invoice Type
            </div>
        </th>
        <th>
            <div class="col ">
              Work Order Number
            </div>
        </th>
       <th>
            <div class="col d-flex align-items-center justify-content-center">
              Action
            </div>
        </th>

    </tr>
        
      </thead><br>

      <tbody>  
        <tr *ngFor="let invoice of pendingInvoices" class="bg-dark bg-opacity-25  ">

          <td>
            <div class="col mx-1">
              {{invoice.partnerName}}
            </div>
          </td>
          <td>
            <div class="col text-center mx-2">
              {{invoice.invoiceDate.toString().slice(0,10)}}
            </div>
          </td>
          <td>
            <div class="col text-capitalize  d-flex  justify-content-center mx-2">
              <span *ngIf="invoice.invoiceType"> Advance </span>
              <span *ngIf="!invoice.invoiceType"> Post Session</span>
            </div>
          </td>
          <td>
            <div class="col text-capitalize mx-2">
              {{invoice.workOrderNumber}}
            </div>
          </td>
      
          <td>
            <div class="col d-flex align-items-center justify-content-center mx-2">
              <a (click)="approve(invoice._id)">
                <button  style="width: 9rem;" class="btn btn-success px-auto mb-2">Approve</button>
              </a>
            </div>
            <div class="col d-flex align-items-center justify-content-center mx-2">
              <a (click)="viewInvoice(invoice.fileName)">
                <button  style="width: 9rem;" class="btn btn-primary mx-1">View Invoice</button>
              </a>
            </div>
          </td>

        </tr>     
      </tbody>

    </table>
  </div>
  <br>
  <br>

  <div style="font-size:large;">
    <span class="border-bottom border-dark border-3 rounded shadow py-2 px-3">Approved Invoices ({{approvedInvoices.length}})</span>
  </div>
  <br>
 
  <div class='listing-table table-responsive'>
      
    <table class="table text-center table-striped" *ngIf="(approvedInvoices.length != 0)" >
      <thead class="text-uppercase">
        <tr>
          <th>
            <div class="col ">
              Partner
            </div>
        </th>
        <th>
            <div class="col text-center">
              Invoice Date
            </div>
        </th>
        <th>      
            <div class="col d-flex justify-content-center">
             Due Date
            </div>
        </th>
        <th>
            <div class="col ">
              Work Order<br>Number
            </div>
        </th>
          <th>Paid</th>
          <th>
            <div class="col d-flex align-items-center justify-content-center">
              Action
            </div>
        </th>

    </tr>
        
      </thead><br>

      <tbody class="">  
        <tr *ngFor="let invoice of approvedInvoices" class="bg-dark bg-opacity-25  ">
          <td>
            <div class="col mx-1">
              {{invoice.partnerName}}
            </div>
          </td>
          <td>
            <div class="col text-center mx-2">
              {{invoice.invoiceDate.toString().slice(0,10)}}
            </div>
          </td>
          <td>
            <div class="col text-capitalize  d-flex  justify-content-center mx-2">
              {{invoice.invoiceDueDate.toString().slice(0,10)}}
            </div>
          </td>
          <td>
            <div class="col text-capitalize mx-2">
              {{invoice.workOrderNumber}}
            </div>
          </td>
      
          <td>
            <i *ngIf="!invoice.paid"  class="text-danger fa-solid fs-4 fa-circle-xmark"></i>
            <i *ngIf="invoice.paid"  class="text-success fa-solid fs-4 fa-circle-check"></i>
          </td>
          <td>
            <div class="col d-flex align-items-center justify-content-center mx-2">
              <a (click)="viewInvoice(invoice.fileName)">
                <button  style="width: 9rem;" class="btn btn-primary mx-1">View Invoice</button>
              </a>
            </div>
          </td>
        </tr>     
      </tbody>

    </table>
  </div>
  <br><br>

  <div style="font-size:large;">
    <span class="border-bottom border-dark border-3 rounded shadow py-2 px-3">Advance Invoices ({{advanceInvoices.length}})</span>
  </div>
  <br>
  <div class='listing-table table-responsive'>
    
    <table class="table text-center" *ngIf="(advanceInvoices.length != 0)" >
      <thead class="text-uppercase">
        <tr>
       <th>
            <div class="col ">
              Partner
            </div>
        </th>
        <th>
            <div class="col text-center">
              Work Order Number
            </div>
        </th>
        <th>
            <div class="col ">
              Total Amount
            </div>
        </th>
       <th>
            <div class="col d-flex align-items-center justify-content-center">
              Action
            </div>
        </th>

    </tr>
        
      </thead><br>

      <tbody>  
        <tr *ngFor="let invoice of advanceInvoices" class="bg-dark bg-opacity-25  ">

          <td>
            <div class="col mx-1">
              {{invoice.partnerName}}
            </div>
          </td>
          <td>
            <div class="col text-center mx-2">
              {{invoice.workOrderNumber}}
            </div>
          </td>
          <td>
            <div class="col text-capitalize mx-2">
              {{invoice.totalAmount}}
            </div>
          </td>
          <td>
            <div class="col d-flex align-items-center justify-content-center mx-2">
              <a (click)="viewInvoice(invoice.fileName)">
                <button  style="width: 9rem;"  class="btn btn-primary mx-1">View Invoice</button>
              </a>
            </div>
          </td>

        </tr>     
      </tbody>

    </table>
 
  </div>
</div>





