<div class="container mb-5">  

  <div class="row d-flex justify-content-center ">
    <div class="col-9  px-5 py-4 m-3  text-center fs-2 text-black rounded" style="font-weight: bold;">
      <span style="color: rgb(52, 51, 51); font-family: 'Roboto Condensed', sans-serif;">INVOICES <i class="fa-solid fa-file-invoice-dollar"></i></span>      
    </div>
  </div>

  <div style="font-size:large;">
    <span class="border-bottom border-dark border-3 rounded shadow py-2 px-3">Pending Invoices ({{pendingInvoices.length}})</span>
  </div>
  <br>
  <div class="row mt-2 d-flex justify-content-center align-items-center">
    
    <div class="row d-flex justify-content-center align-items-center ">

      <div *ngIf="(pendingInvoices.length != 0)" class="row text-center border-bottom fs-6 fw-bold text-uppercase border-2 border-dark mb-4 p-2  mx-2 my-2 d-flex align-items-center justify-content-center">
        <div class="col ">
          Partner
        </div>
        <div class="col ">
          Invoice Date
        </div>
        <div class="col d-flex justify-content-center">
          Due Date
        </div>
        <div class="col text-center">
          Work Order Number
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          Action
        </div>
      </div> 

      <div *ngFor="let invoice of pendingInvoices" class="row text-center shadow bg-dark bg-opacity-25 mb-3 p-2  mx-2 my-1 d-flex align-items-center justify-content-center">
        <div class="col">
          {{invoice.partnerName}}
        </div>
        <div class="col text-capitalize">
          invoice date
        </div>
        <div class="col text-capitalize  d-flex  justify-content-center">
          due date
        </div>
        <div class="col text-center">
          {{invoice.workOrderNumber}}
        </div>
        <div class="col ">
          <div class="d-flex justify-content-center">
            <a (click)="approve(invoice._id)"><button  style="width: 10.5rem;" class="btn btn-success px-5 mb-2">Approve</button></a>
          </div>
          <div class="d-flex justify-content-center">
            <a (click)="viewInvoice(invoice.fileName)"><button style="width: 5rem;" class="btn btn-primary mx-1">View</button></a>
            <a><button style="width: 5rem;" class="btn btn-danger mx-1">Reject</button></a>
          </div>
        </div>
      </div>    

    </div>

  </div>

  <br>
  <br>

  <div style="font-size:large;">
    <span class="border-bottom border-dark border-3 rounded shadow py-2 px-3">Approved Invoices ({{approvedInvoices.length}})</span>
  </div>
  <br>
  <div class="row d-flex justify-content-center align-items-center">
    
    <div class="row d-flex justify-content-center align-items-center ">

      <div *ngIf="(approvedInvoices.length != 0)" class="row text-center border-bottom fs-6 fw-bold text-uppercase border-2 border-dark mb-4 p-2  mx-2 my-2 d-flex align-items-center justify-content-center">
        <div class="col ">
          Partner
        </div>
        <div class="col ">
          Invoice Date
        </div>
        <div class="col d-flex justify-content-center">
          Due Date
        </div>
        <div class="col text-center">
          Work Order Number
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          Action
        </div>
      </div> 

      <div *ngFor="let invoice of approvedInvoices" class="row text-center shadow bg-dark bg-opacity-25 mb-3 p-2  mx-2 my-1 d-flex align-items-center justify-content-center">
        <div class="col">
          {{invoice.partnerName}}
        </div>
        <div class="col text-capitalize">
          invoice date
        </div>
        <div class="col text-capitalize  d-flex  justify-content-center">
          due date
        </div>
        <div class="col text-center">
          {{invoice.workOrderNumber}}
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          <a (click)="viewInvoice(invoice.fileName)">
            <button class="btn btn-primary mx-1">View Invoice</button>
          </a>
        </div>
      </div>    

    </div>

  </div>

</div>
