<div class="container mb-5">  

  <div class="row d-flex justify-content-center ">
    <div class="col-9  px-5 py-4 m-3  text-center fs-2 text-black rounded  ">
      <span>TRAINING REQUESTS</span>       
      <hr>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center">

    <!-- <div class="row d-flex justify-content-center align-items-center">

      <div class="col-2">Partner</div>
      <div class="col-4">Topic</div>
      <div class="col-4">Venue</div>
      <div class="col-2">Date & Time</div>

    </div> -->

    <!-- <div class="row d-flex justify-content-center align-items-center ">

      <div class="col-lg-4">
        <div class="card card-margin p-2">
            <div class="card-header border-bottom mb-2">
                <h5 class="card-title text-uppercase text-center">Latest Trends in Software Engineering</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget">
                    <div class="widget-title-wrapper">
                        <div class="widget-date-primary">
                            <span class="widget-date-day">09</span>
                            <span class="widget-date-month">apr</span>
                        </div>
                        <div class="widget-meeting-info">
                            <span class="widget-pro-title">PRO-08235 DeskOpe. Website</span>
                            <span class="widget-meeting-time">12:00 to 13.30 Hrs</span>
                        </div>
                    </div>
                    <ol class="widget-meeting-points">
                        <li class="widget-meeting-item"><span>Expand module is removed</span></li>
                        <li class="widget-meeting-item"><span>Data migration is in scope</span></li>
                        <li class="widget-meeting-item"><span>Session timeout increase to 30 minutes</span></li>
                    </ol>
                    <div class="widget-meeting-action">
                        <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <h5 class="card-header bg-secondary bg-opacity-50">Latest Trends in Software Engineering</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
      <div class="col-6">
        <div class="card">
          <h5 class="card-header">Latest Trends in Software Engineering</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

    </div> -->

    <div class="row d-flex justify-content-center align-items-center ">

      <div class="row border-bottom fs-6 fw-bold text-uppercase border-2 border-dark mb-4 p-2  mx-2 my-1 d-flex align-items-center justify-content-center">
        <div class="col ">
          Partner
        </div>
        <div class="col ">
          Topic
        </div>
        <div class="col d-flex justify-content-center">
          Mode
        </div>
        <div class="col text-center">
          Date & Time
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          Action
        </div>
      </div> 

      <div *ngFor="let request of trainingRequests" class="row rounded shadow mb-3 p-2  mx-2 my-1 d-flex align-items-center justify-content-center">
        <div class="col ">
          {{request.trainingDetails.partner.slice(0,9)}}
        </div>
        <div class="col text-capitalize">
          {{request.trainingDetails.topic}}
        </div>
        <div class="col text-capitalize  d-flex  justify-content-center">
          {{request.sessionDetails.mode}}
        </div>
        <div class="col text-center">
          <span>{{request.sessionDetails.startTime.toString().slice(8,10)}}/{{request.sessionDetails.startTime.toString().slice(5,7)}}/{{request.sessionDetails.startTime.toString().slice(0,4)}}</span>
          <br>
          <span>{{request.sessionDetails.startTime.toString().slice(11,16)}} PM</span>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          <a (click)="generateWorkOrder(request._id)">
            <button class="btn btn-success mx-1">Approve</button></a>
        </div>
      </div>    

    </div>

  </div>


</div>