

<div class="container-fluid">
  <div class="row d-flex justify-content-center ">
    <div class="col-9  px-5 py-4 m-3  text-center fs-2 text-black rounded" style="font-weight: bold;">
      <span style="color: rgb(52, 51, 51); font-family: 'Roboto Condensed', sans-serif;">Invoice Upload Form <i class="fa-solid fa-file-invoice-dollar"></i></span>      
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">

    <div class="col-9 py-4 m-3  shadow rounded text-bg-dark bg-opacity-75">
      
      <form #invoiceForm = 'ngForm' (ngSubmit)="uploadInvoice()">
        <!-- Invoice Details Begin -->
        <section >
          <div class="d-flex my-4">
            <span class="mx-auto"> Invoice Details</span>
          </div>
          <div class="my-4">
            <div class="input-set">
              <label for="invoiceType">Invoice Type</label>
              &nbsp;
              <select
                class="form-control"
                name="type"
                type="" 
                id="invoiceType" 
                [(ngModel)]="invoiceData.invoiceType"
                required >
                  <option hidden disabled selected value> -- Select an option -- </option>
                  <option value=true >Advance</option>
                  <option value=false>Post - Session</option>
              </select>
            </div>
            <div class="input-set">
              <label for="invoiceid">Invoice Id</label>
              &nbsp;
              <input 
                (blur)="fetchWorkOrderData()"
                class="form-control" 
                type="text" 
                name="invoiceid" 
                placeholder="Invoice Id" 
                [(ngModel)]="invoiceData.invoiceId" 
                required>
            </div>

            <div class="input-set">
              <label for="dateInput">Date</label>
              <input 
 
                class="form-control"
                name="date"
                type="date" 
                [(ngModel)]="invoiceData.date"
                id="dateInput" required >
            </div>

          </div>
          <hr>
        </section>

        <!-- Work9 Details Begin -->
        <section >
          <div class="d-flex my-4">
            <span class="mx-auto">Work Details</span>
          </div>
          <div style="border: 1px dashed white;" class="my-4 py-3 rounded">

            <div class="input-set">
              <label for="workorderNumber">Work Order Number</label>
              &nbsp;
              <input 
                (blur)="fetchWorkOrderData()"
                class="form-control" 
                type="text" 
                name="workorderid" 
                placeholder="Workorder Number" 
                [(ngModel)]="invoiceData.workOrderNumber" 
                required>
            </div>

            <div class="input-set">
              <label for="emailId">Email Id</label>
              &nbsp;
              <input 
              class="form-control" 
              placeholder="Email" 
              type="email" 
              name="email"
              #email="ngModel" 
              [(ngModel)]="invoiceData.partnerEmail"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  
              [class.is-invalid]="email.invalid && email.touched"
              placeholder="Enter the registered email"
              required>
            </div>

              <div class="input-set">
                <label for="name">Partner Name</label>
              
                <input git 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="Name" 
                [(ngModel)]="invoiceData.partnerName" 
                
                required>
              </div>

            
            <div class="input-set">
              <label for="dateInput">Session taken On</label>
              <input 
 
                class="form-control"
                name="date"
                type="date" 
                [(ngModel)]="invoiceData.date"
                id="dateInput" required >
            </div>

            <div class="input-set">
              <label for="totalPaymentInput">Total Amount (₹)</label>
              <input 

              class="form-control"
              name="totalPayment"
              type="number" 
              [(ngModel)]="invoiceData.totalAmount"
              placeholder="Enter total renumeration (₹)"
              required>
            </div>
            
          </div>
          <hr>
          
        </section>
        <div class="input-set">
            <label for="upload">Upload Invoice</label>

            <input type="file"
                #multipleInput
                name="invoices"
                class="form-control"
                multiple (change)="selectMultipleInvoice($event)"
                accept=".pdf,.jpeg,.jpg,.png" 
            required>

            
      </div>
      <div style="text-align:center">
      <ng-template [ngIf]="displayMultipleInvoices" [ngIfElse]="elseMultipleInvoicesTemplate">
              <div  style="color:aquamarine"><br>Invoice Uploaded Successfully <i class="fa-solid fa-square-check"></i>
              </div>
            </ng-template>
          
            <ng-template #elseMultipleInvoicesTemplate>
              <br>
              <div class="text-warning">Please Upload Invoice <i class="fa-solid fa-square-xmark"></i></div>
            </ng-template></div>
      
        <!-- Submission Buttons Begin -->
        <section class="row d-flex justify-content-evenly mx-3 mt-5 mb-3">
          <button class="btn btn-danger submit-button"  [disabled]="invoiceForm.form.invalid" >Submit Form</button>
        </section>
      </form>
    
      </div>


  </div>
</div>